* text=auto

*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.tif binary
*.tiff binary
*.nrrd binary
*.nii binary
*.gz binary
